.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.containerNav {
  width: 1440px;
  padding: 16px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .buttonLogin {
    margin-left: auto;
    padding: 8px 32px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    font: inherit;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
  }

  a {
    margin-right: 32px;
    color: inherit;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 720px;
}
.containerHero {
  margin-top: 100px;

  h1 {
    font-weight: 800;
    font-size: 48px;
  }

  h2 {
    font-weight: 400;
    font-size: 24px;
  }
}

.containerSocials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 6px;
}

.containerSocialControl {
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 180px;
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 8px;
  }

  input {
    height: 24px;
    width: 24px;
    margin-right: 8px;
    border-radius: 8px;
  }

  img {
    height: 24px;
    width: 24px;
    margin-right: 4px;
  }

  span {
    font-size: 16px;
  }
}

.inputSearch {
  width: 100%;
  padding: 16px 12px;
  font-size: 16px;
  font-weight: normal;
  font-family: inherit;
  border-radius: 4px;
  border: 1px solid rgb(116, 116, 116);
}
